<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=173218823499685&autoLogAppEvents=1" nonce="n1c8XzlP"></script>