

<footer class="footer section-copyright text-center clearfix bt-clearfix" style="background:black">
    <div class="container">
        <div class="row">
            <div  class="col-md-5 col-xs-12 footer-col-info">
                <h4>
                    CÔNG TY ÂM NHẠC <span class="footer-company-name" style="color:red">NGUYỄN DUY</span>
                </h4>
                <p>
                    ► Địa chỉ: 606/1/8 Đường 3/2, Phường 14, Quận 10, TP.HCM
                </p>
                <p>
                    ►  Điện thoại: <span class="footer-phone" style="color:red">0976421142</span> - Mr.Quang
                </p>
                <p>
                    ► Giờ làm việc: 09:00 - 20:00
                </p>
                <p>
                    ► Email: nguyenduy.studio.music@gmail.com
                </p>
                <p>
                    ► Facebook: <a href="https://www.facebook.com/nguyenduystudio" style="color:Red">https://www.facebook.com/nguyenduystudio</a>
                </p>
            </div>
            <div class="col-md-3 col-xs-12 footer-col-map">
                <h4>BẢN ĐỒ ĐƯỜNG ĐI</h4>
                <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5943167918617!2d106.66066801474884!3d10.765716092328761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ee75e40e105%3A0xae4825712e323b4c!2zNjA2IMSQxrDhu51uZyAzIFRow6FuZyAyLCBQaMaw4budbmcgMTQsIFF14bqtbiAxMCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1608474514240!5m2!1svi!2s"
                            width="250" height="200" frameborder="0" style="border:0;"
                            allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
              
            </div>
            <div class="col-md-4 col-xs-12 footer-col-fb">
                <h4>FANPAGE FACEBOOK</h4>
                <div class="col-md-12">
                    <div class="fb-page" data-href="https://www.facebook.com/nguyenduystudio" data-tabs="timeline" data-width="300" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/nguyenduystudio" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/nguyenduystudio">Phòng Thu Nguyễn Duy</a></blockquote></div>

                </div>
                </div>
        </div>
    </div>
</footer>