
<div class="loading-content">
    <div class="loadingitem">
        <img src="/Assets/img/loading.gif">
    </div>
    <div class="loader-section section-left" style=" background-image: url('/Assets/img/pattern-3.png');"></div>
    <div class="loader-section section-right" style=" background-image: url('/Assets/img/pattern-3.png');"></div>
</div>