<header id="home">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- BEGIN LOGO -->
                <a class="navbar-brand" href="/">
                    <img src="/Assets/img/logo.png"  width="190" height="40" />
                </a>
                <!-- END LOGO -->
            </div>
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                @*<ul class="nav navbar-nav scroll menu">
                    <li class="item-127 deeper parent dropdown"><a style="" class="scrollmenu dropdown-toggle " data-toggle="dropdown" href="#home">HOME<b class="caret"></b></a><ul class="nav-child unstyled small dropdown-menu" role="menu"><li class="item-161"><a style="" class="" href="/joomla/rockox1/home/lighter-version-2.html">Lighter Version</a></li><li class="item-164"><a style="" class="" href="/joomla/rockox1/home/dark-version-2.html">Dark Version</a></li><li class="item-163"><a style="" class="" href="/joomla/rockox1/home/slider-version-2.html">Sliders Version</a></li><li class="item-162"><a style="" class="" href="/joomla/rockox1/home/video-version-2.html">Video Version</a></li></ul></li>
                    <li class="item-128"><a style="" class="scrollmenu" href="#services">services</a></li>
                    <li class="item-129"><a style="" class="scrollmenu" href="#experience">experience</a></li>
                    <li class="item-130"><a style="" class="scrollmenu" href="#team">our team</a></li>
                    <li class="item-131"><a style="" class="scrollmenu" href="#pricing-tables">pricing</a></li>
                    <li class="item-132"><a style="" class="scrollmenu" href="#portfolio">portfolio</a></li>
                    <li class="item-133 deeper parent dropdown"><a style="" class="scrollmenu dropdown-toggle " data-toggle="dropdown" href="#best-sellers">shop<b class="caret"></b></a><ul class="nav-child unstyled small dropdown-menu" role="menu"><li class="item-154"><a style="" class="" href="/joomla/rockox1/shop/categories-layout.html">Categories Layout</a></li><li class="item-155"><a style="" class="" href="/joomla/rockox1/shop/product-details.html">Product Details</a></li><li class="item-156"><a style="" class="" href="/joomla/rockox1/shop/cart.html">Shopping Cart</a></li></ul></li>
                    <li class="item-134"><a style="" class="scrollmenu" href="#contact-us">contact us</a></li>
                    <li class="item-139 deeper parent dropdown"><a style="" class="dropdown-toggle " data-toggle="dropdown" href="/joomla/rockox1/blog.html">Blog<b class="caret"></b></a><ul class="nav-child unstyled small dropdown-menu" role="menu"><li class="item-157"><a style="" class="" href="/joomla/rockox1/blog/blog-list.html">Blog List</a></li><li class="item-158"><a style="" class="" href="/joomla/rockox1/blog/blog-details.html">Blog Details</a></li></ul></li>
                </ul>*@
                <!-- END NAVIGATION -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>