@{
    ViewData["Title"] = "Trang chủ";
}

<div class="main-wrapper  ">
    <div class="container-fluid bootstrap">
        <div class="row">

            <div id="wrapper-content" class="wrapper-content ">
                <div id="system-message-container">
                </div>

                <div data-animate="slideInLeft" class="box-section triggerAnimation animated  section parallax-main-banner" data-stellar-background-ratio="0.3" style="background-image: url(/Assets/img/banner.png)">



                    <div class="container-fluid bt-boxfluid  ">
                        <div class='row bt-boxrow ' >
                            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 '>
                                <div class="st-inner " >
                                    <!-- thumb-carousel : starts -->
                                    <div id="heading" class="bt-jcarousel heading">
                                        <!--<div id="mycarousel" class="mycarousel jcarousel-skin-tango">
                                            <ul>
                                                <li>
                                                    <h1>
                                                        NGUYỄN DUY STUDIO
                                                    </h1>
                                                    <div class="clearfix"></div>
                                                    <h3>Hãng thu âm và sản xuất hình ảnh</h3>
                                                </li>-->
                                                @*<li>
                                                    <h1>
                                                        NGUYỄN DUY STUDIO
                                                    </h1>
                                                    <div class="clearfix"></div>
                                                    <h2>Chúng tôi ở đây vì đam mê của bạn</h2>
                                                </li>*@
                                                @*<li>
                                                    <h1>
                                                        you love colors
                                                    </h1>
                                                    <div class="clearfix"></div>
                                                    <h2>Parallax and Responsive Template</h2>
                                                </li>
                                                <li>
                                                    <h1>
                                                        they love colors
                                                    </h1>
                                                    <div class="clearfix"></div>
                                                    <h2>Parallax and Responsive Template</h2>
                                                </li>
                                                <li>
                                                    <h1>
                                                        we love colors
                                                    </h1>
                                                    <div class="clearfix"></div>
                                                    <h2>Parallax and Responsive Template</h2>
                                                </li>*@
                                            <!--</ul>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="services" data-animate="slideInLeft" class="box-section triggerAnimation animated  section services-sec gray-bg border">



                    <div class="container-fluid bt-boxfluid  ">

                        <div class='row bt-boxrow'>
                            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 '>
                                <div class="st-inner">
                                    <div class="tabs-btn green">
                                        <div class="container">
                                            <ul>
                                                <li><a href="#" class="service-tab"><i class="fa fa-microphone"></i><p><span>DỊCH VỤ THU ÂM</span>Thiết bị hiện đại, dày kinh nghiệm trong phối âm...</p></a></li>
                                                <li><a href="#" class="service-tab"><i class="fa fa-film"></i><p><span>DỊCH VỤ QUAY PHIM</span>Thiết bị hiện đại, kinh nghiệm trong góc quay</p></a></li>
                                                <li><a href="#" class="service-tab"><i class="fa fa-users"></i><p><span>KHÓA HỌC OFFLINE</span>Giảng viên âm nhạc NGUYỄN DUY QUANG với hơn 10 năm kinh nghiệm giảng dạy về âm nhạc</p></a></li>
                                                <li><a href="#" class="service-tab"><i class="fa fa-laptop"></i><p><span>KHÓA HỌC ONLINE</span>Giảng viên âm nhạc NGUYỄN DUY QUANG với hơn 10 năm kinh nghiệm giảng dạy về âm nhạc</p></a></li>
                                                <li><a href="#" class="service-tab"><i class="fa fa-calendar"></i><p><span>ĐẶT PHÒNG</span>Hệ thống đặt lịch hẹn đơn giản và nhanh chống chỉ sau vài thao tác</p></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <ul class="row clearfix">
                                            <li class="col-md-4 col-sm-4 bounceIn" data-delay="100">
                                                <div class="service-sec">
                                                    <a href="#."><span class="green"><i class="fa fa-rocket img-circle open"></i></span></a>
                                                    <h3>Nhanh chóng</h3>
                                                    <p>Sản phẩm hoàn thành nhanh chóng trong vòng 3 ngày.</p>
                                                </div>
                                            </li>
                                            <li class="col-md-4 col-sm-4 bounceIn" data-delay="200">
                                                <div class="service-sec">
                                                    <a href="#."><span class="green"><i class="fa fa-briefcase img-circle open"></i></span></a>
                                                    <h3>KINH NGHIỆM</h3>
                                                    <p>Hơn 10 năm hoạt động trong lĩnh vực âm nhạc và tạo ra các sản phẩm cho ca sĩ nổi tiếng</p>
                                                </div>
                                            </li>
                                            <li class="col-md-4 col-sm-4 bounceIn" data-delay="300">
                                                <div class="service-sec">
                                                    <a href="#."><span class="green"><i class="fa fa-clock-o img-circle open"></i></span></a>
                                                    <h3>24/7 Support</h3>
                                                    <p>Luôn sẵn sàng hỗ trợ, và giải đáp thắc mắc</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="team" data-animate="slideInLeft" class="box-section triggerAnimation animated  section team text-center no-padding-bottom">
                    <div class="container  ">
                        <div class='row bt-boxrow ' >
                            <h1 class="section-title text-center yellow">
                                Sản phẩm                                       
                            </h1>
                            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 '>
                                <div class="st-inner " >
                                    <div class="row">
                                        <div class="member-item col-lg-4 col-md-4 col-xs-12 col-sm-4 bounceIn" data-delay="100">
                                            <div class="team-image-sec">
                                                <div class="img-overlay" style="background-color: #e21e25">&nbsp;</div>
                                                <figure><img title="Image" alt="Item 1" src="/Assets/img/sp1.jpg"></figure>
                                                @*<ul>
                                                    <li><a href="#" target="_blank"><i class="fa fa-eye"></i></a></li>
                                                </ul>*@
                                            </div>
                                            <div class="team-detail-sec">
                                                <h3 style="color: #e21e25"><a href="#">Tên sản phẩm</a></h3>
                                                <p>Mô tả sản phẩm</p>
                                            </div>
                                        </div>
                                        <div class="member-item col-lg-4 col-md-4 col-xs-12 col-sm-4 bounceIn" data-delay="200">
                                            <div class="team-image-sec">
                                                <div class="img-overlay" style="background-color: #bed431">&nbsp;</div>
                                                <figure><img title="Image" alt="Item 2" src="/Assets/img/sp2.jpg"></figure>
                                                @*<ul>
                                                    <li><a href="#" target="_blank"><i class="fa fa-eye"></i></a></li>
                                                </ul>*@
                                            </div>
                                            <div class="team-detail-sec">
                                                <h3 style="color: #bed431"><a href="/san-pham-3-b.3.html">Tên sản phẩm</a></h3>
                                                <p>Mô tả sản phẩm</p>
                                            </div>
                                        </div>
                                        <div class="member-item col-lg-4 col-md-4 col-xs-12 col-sm-4 bounceIn" data-delay="300">
                                            <div class="team-image-sec">
                                                <div class="img-overlay" style="background-color: #5ecae6">&nbsp;</div>
                                                <figure><img title="Image" alt="Item 3" src="/Assets/img/sp3.jpg" /></figure>
                                                @*<ul>
                                                    <li><a href="#" target="_blank"><i class="fa fa-eye"></i></a></li>
                                                  
                                                </ul>*@
                                            </div>
                                            <div class="team-detail-sec">
                                                <h3 style="color: #5ecae6"><a href="/san-pham-3-b.3.html">Sản phẩm 3</a></h3>
                                                <p>Mô tả sản phẩm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pricing-tables" data-animate="slideInLeft" class="box-section triggerAnimation animated  section tables" data-stellar-background-ratio="-0.2" style="background-image: url(/Assets/img/table-bg.jpg)">
                    <div class="overlay">
                        <div class="container">
                            <div class='row bt-boxrow ' >
                                <div class='col-lg-3 col-md-6 col-sm-12 col-xs-12 '>
                                    <div class="st-inner " >
                                        <div class="table table-price fadeInUp yellow-table text-center" data-delay="425">
                                            <span class="table-heading">basic</span>
                                            <p class="price"><span>$29</span>/monthly plan</p>
                                            <ul class="list-unstyled">
                                                <li>Theme Update </li>
                                                <li> Most Wanted </li>
                                                <li> Layerd Photoshop PSD </li>
                                                <li> 5 e-mail Account </li>
                                                <li> 70MB Monthly Traffic </li>
                                                <li> 24/7 Live Support</li>
                                            </ul>
                                            <a class="btn btn-yellow" href="#">Sign UP</a>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-lg-3 col-md-6 col-sm-12 col-xs-12 '>
                                    <div class="st-inner " >
                                        <div class="table table-price fadeInUp green-table text-center" data-delay="255">
                                            <span class="table-heading">standard</span>
                                            <p class="price"><span>$39</span>/monthly plan</p>
                                            <ul class="list-unstyled">
                                                <li>Theme Update </li>
                                                <li> Most Wanted </li>
                                                <li> Layerd Photoshop PSD </li>
                                                <li> 5 e-mail Account </li>
                                                <li> 70MB Monthly Traffic </li>
                                                <li> 24/7 Live Support</li>
                                            </ul>
                                            <a class="btn btn-green" href="#">Sign UP</a>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-lg-3 col-md-6 col-sm-12 col-xs-12 '>
                                    <div class="st-inner " >
                                        <div class="table table-price fadeInUp blue-table text-center" data-delay="216">
                                            <span class="table-heading">professional</span>
                                            <p class="price"><span>$59</span>/monthly plan</p>
                                            <ul class="list-unstyled">
                                                <li>Theme Update </li>
                                                <li> Most Wanted </li>
                                                <li> Layerd Photoshop PSD </li>
                                                <li> 5 e-mail Account </li>
                                                <li> 70MB Monthly Traffic </li>
                                                <li> 24/7 Live Support</li>
                                            </ul>
                                            <a class="btn btn-blue" href="#">Sign UP</a>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-lg-3 col-md-6 col-sm-12 col-xs-12 '>
                                    <div class="st-inner " >
                                        <div class="table table-price fadeInUp red-table text-center" data-delay="951">
                                            <span class="table-heading">extreme</span>
                                            <p class="price"><span>$79</span>/monthly plan</p>
                                            <ul class="list-unstyled">
                                                <li>Theme Update </li>
                                                <li> Most Wanted </li>
                                                <li> Layerd Photoshop PSD </li>
                                                <li> 5 e-mail Account </li>
                                                <li> 70MB Monthly Traffic </li>
                                                <li> 24/7 Live Support</li>
                                            </ul>
                                            <a class="btn btn-red" href="#">Sign UP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
                <div data-animate="slideInLeft" class="box-section triggerAnimation animated  section-overlay our-clients" data-stellar-background-ratio="-0.2">
                    <div class="overlay">
                        <div class="container  ">

                            <div class='row bt-boxrow ' >
                                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 '>
                                    <div class="st-inner " >
                                        <h2 class="text-center">Khách hàng của chúng tôi</h2><div id="carousel-example-generic" class="carousel slide flipInY" data-ride="carousel">
                                            <div class="carousel-inner text-center">
                                                <div class="item active">
                                                    <div class="testimonial">
                                                        <i class="fa fa-quote-left"></i>
                                                        <p>
                                                            Nhân viên thân thiện, làm việc chuyên nghiệp, tôi rất hài lòng về dịch vụ
                                                        </p>
                                                        <i class="fa fa-quote-right"></i>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="testimonial">
                                                        <i class="fa fa-quote-left"></i>
                                                        <p>
                                                            Nhân viên thân thiện, làm việc chuyên nghiệp, tôi rất hài lòng về dịch vụ
                                                        </p>
                                                        <i class="fa fa-quote-right"></i>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="testimonial">
                                                        <i class="fa fa-quote-left"></i>
                                                        <p>
                                                            Nhân viên thân thiện, làm việc chuyên nghiệp, tôi rất hài lòng về dịch vụ
                                                        </p>
                                                        <i class="fa fa-quote-right"></i>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="testimonial">
                                                        <i class="fa fa-quote-left"></i>
                                                        <p>
                                                            Nhân viên thân thiện, làm việc chuyên nghiệp, tôi rất hài lòng về dịch vụ
                                                        </p>
                                                        <i class="fa fa-quote-right"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-example-generic" data-slide-to="0"
                                                    class="active">
                                                    <img src="/Assets/img/client1.jpg" alt="Lance Redgrave" title="Lance Redgrave" class="img">
                                         
                                                </li>
                                                <li data-target="#carousel-example-generic" data-slide-to="1"
                                                    class="">
                                                    <img src="/Assets/img/client2.jpg" alt="Mikel Field" title="Mikel Field" class="img">
                                            
                                                </li>
                                                <li data-target="#carousel-example-generic" data-slide-to="2"
                                                    class="">
                                                    <img src="/Assets/img/client3.jpg" alt="Johny Bravo" title="Johny Bravo" class="img">
                                 
                                                </li>
                                                <li data-target="#carousel-example-generic" data-slide-to="3"
                                                    class="">
                                                    <img src="/Assets/img/client4.jpg" alt="Lance Redgrave" title="Lance Redgrave" class="img">
                                                   
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




